html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}
header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
header{
 position: fixed;
 top: 0;left: 0;right: 0;
 background: #333;
 z-index: 1000;
 display: flex;align-items: center;
 justify-content: space-between;
 padding: 2rem 9%;   
}
header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}
header .logo span{
    color: var(--orange);
}
header .navbar a{
    color: #fff;
    font-size: 2rem;
    margin: 0 .8rem;;
}
header .navbar a:hover{
    color: var(--orange);
}
header .icons i{
    font-size: 4.5 rem;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
    width: 20px;
    height: 20px;
}

header .icons i:hover{
    color:var(--orange);
}
header .search-bar-container{
    position: absolute;
    top: 100%;left: 0;right: 0;
    padding: 1.5rem 2rem;
    background: #333;
    border-top: .1rem solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
    clip-path: polygon(0 0,100% 0,100% 0,0 0);
}
header .search-bar-container .active{
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
}
header .search-bar-container #search-bar{
    width:100%;
    padding: 1rem;
    text-transform: none;
    color: #333;
    font-size: 1.7rem;
    border-radius: .5rem;
}
header .search-bar-container label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}
.service .box-container{
    padding-top:50px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.service .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;

}
.service .box-container .box i{
    padding: 1rem;
    font-size: 5rem;
    color: var(--orange);

}
.service .box-container .box h3{
    font-size: 2.5rem;
    color: #333;
}
.service .box-container .box p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}
.heading {
    text-align: center;
    padding: 150px;
}

.heading span {
    font-size: 5.5rem;
    background: rgba(255, 165, 0, 0.2);
    color: var(--orange); /* Assuming you have a CSS variable for orange */
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}